.erk {
    display: inline-block;
    border-width: 5px;
    border-color: black;
    background-color: white;
}

body {
    background-color: white;
    color: blue;
}

#computerClubPhoto {
    width: 30em;
}