.erk {
    display: inline-block;
    border-width: 5px;
    border-color: black;
    background-color: white;
}

body {
    background-color: white;
    color: blue;
    font-family: "Rubik Puddles";
}

#computerClubPhoto {
    width: 30em;
}

.rubik-puddles-regular {
  font-family: "Rubik Puddles", system-ui;
  font-weight: 400;
  font-style: normal;
}